<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{% block title %}{% endblock title %}</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />

</head>
<body style="background-image: linear-gradient(rgba(5, 56, 107, 1),steelblue); background-repeat: no-repeat; height: 100%; background-attachment: fixed;">
	<div class="container" style="margin: 0 auto 100px;">
		{% include 'includes/_navbar.html'%}
		{% block body %}{% endblock body%}
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
	</div>
</body>
</html>